*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: calibri;

}


/*header*/

header {

    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 1em 2em;
    position: relative;
}

header:before {

    content: '';
    width: 200px;
    height: 1px;
    background-color: gray;
    position: absolute;
    bottom: 0;
    right: 0;

}

.hamburger {
    display: none;
}



.logo img {
    width: 3.5em;
    
}

.nav {

    display: flex;
    justify-content: space-between;
}

.nav-list {

    display: flex;
    align-items: center;
    list-style:none;
    font-size: 1.5em;

}

.nav-list a {

    color: gray;
}

.nav-list a:hover {

    color: #148260;
}

.nav-list .active a {

    color: white;
}


.nav-item {
    margin-left: 2em;

}

.active {
    position: relative;
    color: white;
    z-index: 10;
}

.active::before {

    content: '';
    position: absolute;
    left: -.8em;
    bottom: -.3em;
    background-color: #148260;
    width: 4em;
    height: 40px;
    border-radius: 50px;
    z-index: -1;
}

/*Conteúdo top*/

h2 {

    font-size: 4em;
    color: #148260;
    line-height: 1;
}

h3 {

    font-size: 2em;
    color: #148260;
}

h4 {
    font-size: 1.5em;
    color: white;

}




section {

    width: 80%;
    margin: 10em auto;

}

.desenho-cadastro {

    width: 100%;
    display: flex;
    justify-content: space-around;
   
}

.desenho {

    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    
}

.desenho h2 span {

    background-color: #148260 ;
    padding: 0 20px;
    color: white;
    border-radius: 10px 10px 10px 0px;
}



.desenho img {

    margin-top: 3em;

}

.cadastro {

    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
 
  
}

.logo2 {

    width: 40%;

}

.botao-cadastro {

    border: none;
    width: 70%;
    height: 1.5em;
    margin-top: 1em;
    margin-bottom: 3em;
    font-size: 1.8em;
    font-weight: bold;
    color: white;
    border-radius: 10px 10px 10px 0px;
    background-color:  #148260;
    align-self: center;
    box-shadow: 0px 7px 0px 0px rgba(232,235,237,1);
    position: relative;
    transition: .5s;
}

.botao-cadastro:hover {


    box-shadow: 0px 7px 0px 0px rgb(142, 147, 150);
    cursor: pointer;
}

.botao-cadastro::before {

        content: '';
        width: 5em;
        height: 1px;
        background-color: rgb(192, 192, 192);
        position: absolute;
        bottom: -2em;
}

.cadastro-box1{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cadastro-box2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
 
}

.cadastro-box2 a{

    width: 37%;
    padding: 5px;
    border-radius: 10px 10px 10px 0px;
    border: 2px  rgba(232,235,237,1)  solid;
    box-shadow: 0px 10px 0px 0px rgba(232,235,237,1);
    position: relative;
    transition: .5s;

}

.cadastro-box2 a:hover {

    box-shadow: 0px 7px 0px 0px  #148260;
    cursor: pointer;

}

.cadastro-box2 a img {

    width: 100%;
}

article {

    width: 100%;
    height: auto;
    padding: 0 0 5em 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5ECF0;
    border-bottom: 20px #148260 solid;
}

article h3{

    margin: 3em 0;
}

.cards-container {
   
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.card {

    width: 20em;
    height: 23em;
    margin-left: 1em;
    background-color:#148260;
    position: relative;

}

.card img {

    width: 40%;
    position: absolute;
    top: -3em;
    left: 30%;
    right: 30%;
}

.card-text{

    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2em;
    position: absolute;
    bottom: 1em;
  
}

.card-text p {

    font-size: 1.2em;
    color: white;
    margin-top: 1em;

}


.text-figure {

    display: flex;
    justify-content: space-between;
    margin: 20em auto;

}

.text {

    width: 50%;
   
}

.text p {

    font-size: 1.2em;
    margin: 1em auto;
    color: #727D83;
}

.text ul li {

    font-size: 1.2em;
    color: #727D83;
    margin-left: 1em;
    line-height: 3;

}

.botao {

    border: none;
    width: 50%;
    height: 1.5em;
    margin-top: 1em;
    margin-bottom: 3em;
    font-size: 1.8em;
    font-weight: bold;
    color: white;
    border-radius: 10px 10px 10px 10px;
    background-color:  #148260;
    align-self: center;
    box-shadow: 0px 7px 0px 0px rgba(232,235,237,1);
    position: relative;
    transition: .5s;

}

.botao:hover {

    box-shadow: 0px 7px 0px 0px rgb(142, 147, 150);
    cursor: pointer;
}

.figure {

    width: 40%;
}

.imagem {

    width: 100%;
    height: 500px;
    background-image: url(imagens/estudo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 20px #E5ECF0 solid;
}

footer{

    width: 100%;
    height: auto;
    background-color: #148260;
    padding: 2em 0 ;
  
}

.info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-info {

    width: 15em;
    height: 12em;
    margin-left: 1em;
    align-self: center;

}

footer p {

    color: white;
   
}

.inc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-img{

    width: 50%;
    margin: 0 25%;
    transform: translateY(.3em);
}



@media only screen and (max-width: 1400px) {

    h2 {

        font-size: 3em;
    }

    section {

        width: 90%;
    }

    .desenho-cadastro {

        justify-content: space-between;
    }

    .botao-cadastro {
        font-size: 1.5em;
    }

    @media only screen and (max-width: 1200px) {

    
        .desenho-cadastro {
    
            justify-content: space-between;
        }

        .desenho {

        }

        .cadastro {
            width: 40%;
        }
    
        .botao-cadastro {
            font-size: 1.5em;
        }

        .cards-container {

           
        }

        .footer-img {

            width: 70%;
            margin: 0 15%;
        }


}

@media only screen and (max-width: 870px) {

    h2 {

        font-size: 2em;

    }

    h3 {

        font-size: 1.5em;

    }

    .hamburger {
        display: block;
        font-size: 3em;
    }

    .logo {

        display: none;
    }

    .nav-link {

        display: none;
      }

      .active {

        display: none;
      }

      header::before{

        display: none;
      }

      
    .card {

        width: 13em;
        height: 16em;
        margin-left: 1em;
        background-color:#148260;
        position: relative;
    
    }

    .card h4{

        font-size: 1em;
    }

    .card p {

        font-size: .8em;
    }

    .card-text{
        bottom: 0;
    
    }
    
      .text-figure {

        margin: 10em auto;

    }

      .figure {

        width: 50%;
      }
      .text p, .text ul{
          font-size: .8em;
      }

      .text ul li { 
        line-height: 2;
    }

    .footer-img {

        width: 80%;
        margin: 0 10%;
    }

}

@media only screen and (max-width: 600px) {
    
    h2 {

        font-size: 2.5em;
    }

    
    .desenho-cadastro {
        flex-direction: column-reverse;
        align-items: center;
    }

    .desenho {

        width: 100%;
        margin-top: 10em;
    }
    
    .cadastro{

        width: 100%;
    
    }

    .logo2 {
        width: 12em; 
    }

    .botao-cadastro {

        height: 2em;
        font-size: 2em;
    }

    section {

        width: 90%;
        margin: 5em auto;
    }

    .cards-container {
   
        flex-direction: column;
        align-items: center;
    }
    
    .card {
    
        margin: 2em 0;
    }

    .text-figure {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 5em auto;
    
    }

    .text {

        width: 100%;
    }

    .figure {

        width: 100%;
    }

    .footer-img {

        width: 90%;
        margin: 0 5%;
    }

    
}
